.navbar {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 1em;
    
}

img {
    height: 100px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    
    text-decoration: none;

}

.item a:hover {
    color: #44d0e2;
}